@font-face {
    font-family: 'Bacalisties';
    src: url('/font/bacalisties/Bacalisties.ttf');
}

@font-face {
    font-family: 'Simple Michael';
    src: url('/font/simple_michael/Simple\ Michael.otf');
}