@import url('/css/reset.css');
@import url('/css/font.css');

:root {
    --surface-0: #f5f5f5;
    --surface-1: lightblue;
    --padding-block: 0.25rem;
    --padding-inline: 0.5rem;
    --font-size: 1.5rem;
}

html,
body {
    height: 100vh;
}

body {
    background-color: var(--surface-0);
    display: grid;
    font-family: 'Simple Michael', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: var(--font-size);
    letter-spacing: 0.05rem;
    grid-template-rows: auto 1fr auto;
    line-height: 2;
}

body>*:first-child {
    padding-block-start: var(--padding-block);
}

body>* {
    padding-inline: var(--padding-inline);
}

body>*:last-child {
    padding-block-end: var(--padding-block);
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    --nav-gap: 3rem;
    background-color: var(--surface-1);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: grid;
    gap: var(--nav-gap);
    grid-template-columns: 1fr;
    text-align: center;
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    header {
        grid-template-columns: 1fr auto 1fr;
    }
}

header nav {
    --justify-content: start;
    align-items: center;
    display: none;
    gap: var(--nav-gap);
    justify-content: var(--justify-content);
}

@media only screen and (min-width: 1024px) {
    header nav {
        display: flex !important;
    }
}

header nav:nth-child(1) {
    justify-content: end;
}

header nav>* {
    padding-block-start: 0.5rem;
}

header h1 {
    font-family: 'Bacalisties';
    font-size: 2.5rem;
}

main {
    --block-padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: var(--block-padding);
    padding-block: var(--block-padding);
}

main section {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main section#upcoming-meal>div {
    --border: var(--border-size) solid black;
    --border-size: 0.125rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "next-meal-month"
        "next-meal-daydate"
        "next-meal-daydate"
        "next-meal-daydate"
        "next-meal-timebutton"
        "next-meal-timebutton"
        "next-meal-countdown"
        "next-meal-countdown";
}


@media only screen and (min-width: 1024px) {
    main section#upcoming-meal>div {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "next-meal-month   next-meal-timebutton"
            "next-meal-daydate next-meal-timebutton"
            "next-meal-daydate next-meal-countdown"
            "next-meal-daydate next-meal-countdown";
    }
}

main section#upcoming-meal>div>div {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0.75rem;
}

main section#upcoming-meal #next-meal-month {
    background-color: #000000;
    border-top: var(--border);
    border-right: var(--border);
    border-left: var(--border);
    color: var(--surface-0);
    grid-area: next-meal-month;
    font-size: calc(var(--font-size) * 1.5);
    font-weight: bold;
}

@media only screen and (min-width: 1024px) {
    main section#upcoming-meal #next-meal-month {
        border-right-width: calc(var(--border-size) / 2);
    }
}

main section#upcoming-meal #next-meal-timebutton {
    border-top: var(--border);
    border-right: var(--border);
    border-left: var(--border);
    flex-direction: column;
    grid-area: next-meal-timebutton;
}

@media only screen and (min-width: 1024px) {
    main section#upcoming-meal #next-meal-timebutton {
        border-left-width: calc(var(--border-size) / 2);
    }
}

main section#upcoming-meal #next-meal-timebutton #next-meal-time {
    font-size: calc(var(--font-size) * 1.5);
}

main section#upcoming-meal #next-meal-timebutton #next-meal-button button {
    background-color: var(--surface-1);
    border: none;
    border-radius: 0.5rem;
    font-style: italic;
    padding-block-end: 0.25rem;
    padding-block-start: 0.5rem;
    padding-inline: 1rem;
}

@media only screen and (min-width: 1024px) {
    main section#upcoming-meal #next-meal-button {
        border-bottom-width: calc(var(--border-size) / 2);
        border-left-width: calc(var(--border-size) / 2);
    }
}

main section#upcoming-meal #next-meal-daydate {
    border-right: var(--border);
    border-bottom: var(--border);
    border-left: var(--border);
    flex-direction: column;
    grid-area: next-meal-daydate;
    line-height: 1.5;
}

@media only screen and (min-width: 1024px) {
    main section#upcoming-meal #next-meal-daydate {
        border-right-width: calc(var(--border-size) / 2);
    }
}

main section#upcoming-meal #next-meal-daydate #next-meal-date {
    font-size: calc(var(--font-size) * 2.5);
    font-weight: bold;
}

main section#upcoming-meal #next-meal-daydate #next-meal-day {
    font-size: calc(var(--font-size) * 1.5);
}

main section#upcoming-meal #next-meal-countdown {
    border-top: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
    border-left: var(--border);
    grid-area: next-meal-countdown;
    padding-inline: 2rem;
}

@media only screen and (min-width: 1024px) {
    main section#upcoming-meal #next-meal-countdown {
        border-top-width: calc(var(--border-size) / 2);
        border-left-width: calc(var(--border-size) / 2);
    }
}

main section #meal-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main section #meal-menu .course h3 {
    font-size: 1.375rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

main section #meal-menu .course h3 span {
    font-size: 1.75rem;
}

footer {
    font-size: 0.75rem;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    footer {
        text-align: right;
    }
}


/* Small devices such as large phones (640px and up) */
/* @media only screen and (min-width: 640px) { } */

/* Medium devices such as tablets (768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large devices such as laptops (1024px and up) */
/* @media only screen and (min-width: 1024px) { } */

/* Largest devices such as desktops (1280px and up) */
/* @media only screen and (min-width: 1280px) { } */